html,
body,
#wrapper{
    height: 100%;
}

#page-wrapper{
    min-height: 100% !important;
}

/**
 * Боковое меню для админа
 */
.nav-admin li:nth-child(1){
    margin-top:40px; 
    border-top: 1px solid #e7e7e7;
}
.nav-admin a{
    color: #b73333;
}

.nav-admin a:hover, .nav-admin a:focus {
    color: #b74444;
}

.sidebar ul li a.active {
    border-left:3px solid;
}

.panel-collapsable .panel-heading .panel-title a,
.panel-collapsable .panel-heading .panel-title a:hover,
.panel-collapsable .panel-heading .panel-title a:focus{
	text-decoration: none;
}