/*top-color: 
background: 
sidebar:*/

html{
    font-family:"Roboto","Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
}

.navbar-header *,
.navbar-right>li>a{
    text-shadow: 0px 0px 2px black;
}

.navbar.navbar-inverse.navbar-fixed-top, 
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-brand:active,
.navbar-inverse .navbar-brand:hover,
.navbar-top-links>.open>a,
.navbar-top-links>li>a,
.navbar-top-links>li>a:active,
.navbar-top-links>li>a:hover {
    background-color: #8ac858 !important;
    border-color: #d8ffbc;
    color: #fff;
}

.navbar-default.sidebar{
    background-color: #f9f9fb;
}

.sidebar-nav .nav li a{
    font-weight: 700;
    color: #4d4d4d;
}

.sidebar-nav .nav li a.active,
.sidebar-nav .nav li a:active,
.sidebar-nav .nav li a:hover{
    color: #6c9b45;
}


.btn-success.active, 
.btn-success.focus, 
.btn-success:active, 
.btn-success:focus, 
.btn-success:hover, 
.open>.dropdown-toggle.btn-success{
    background-color: #6c9b45;
    border-color: #6c9b45;
    
}

.btn-success, 
.open>.dropdown-toggle.btn-success{
    background-color: #8ac858;
    border-color: #8ac999;
}


.btn-primary {
    color: #fff !important;
    background-color: #757575;
    border-color: #5f5f5f;
}

.btn-primary.btn-outline{
    border-color: #666666;
    background-color: transparent;
    color: #757575 !important;
}

.btn-primary.btn-outline:active,
.btn-primary.btn-outline:hover{
    color: #fff !important;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
    background-color: #8e8c8c;
    border-color: #8e8c8c;
    color: #d4d2d2 !important;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #666666;
    border-color: #5f5f5f;
}