#table-logger .log-meta,
#table-logger .log-meta td,
#table-logger .log-meta pre.source {
    margin: 0;
}

#table-logger .log-meta pre.source {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: auto;

    padding: 5px 8px;
}

#table-logger tr.log-entry {
    border-top: 2px dashed #aaa;
}

.log-section {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.log-date{
    font-size: 11px;
    text-align: center;
}

#table-logger .log-type {
    text-align: center;
    writing-mode: sideways-lr;
    vertical-align: top !important;
    padding-top: 20px;
}
/**
 * Log entries colors
 */
.log-debug {
    background: rgba(0, 0, 0, 0.15);
}

.log-info {
    background: rgba(150, 150, 250, 0.5);
}

.log-notice {
    background: rgba(200, 100, 250, 0.3);
}

.log-warning {
    background: rgba(227, 249, 79, 0.5);
}

.log-error {
    background: rgba(255, 203, 79, 0.5);
}

.log-critical {
    background: rgba(255, 108, 1, 0.5);
}

.log-alert {
    background: rgba(255, 10, 10, 0.4);
    font-weight: bold;
}

.log-emergency {
    background: rgba(255, 0, 0, 0.54);
    font-weight: bold;
}