#table-logger .log-meta td,
#table-logger .log-meta pre {
    padding: 3px 5px;
    margin: 0;
}

#table-logger .log-meta pre {
    max-height: 100px; 
    overflow-y: auto;
}

.log-section {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.log-date{
    font-size: 11px;
    text-align: center;
}

.log-type {
    padding: 3px;
    text-align: center;
    writing-mode: sideways-lr;
    vertical-align: middle !important;
}
/**
 * Log entries colors
 */
.log-debug {
    background: rgba(0, 0, 0, 0.15);
}

.log-info {
    background: rgba(150, 150, 250, 0.5);
}

.log-notice {
    background: rgba(200, 100, 250, 0.3);
}

.log-warning {
    background: rgba(227, 249, 79, 0.5);
}

.log-error {
    background: rgba(255, 203, 79, 0.5);
}

.log-critical {
    background: rgba(255, 108, 1, 0.5);
}

.log-alert {
    background: rgba(255, 10, 10, 0.4);
    font-weight: bold;
}

.log-emergency {
    background: rgba(255, 0, 0, 0.54);
    font-weight: bold;
}