.chat-item {
    cursor: pointer;
}

.chat-update {
    border-left: 7px solid #cc6900;
}

.chat-danger {
    border-left: 7px solid darkred;
}

.chat-update td {
    font-weight: 600;
}

#chat-container strong.message-author{
	color: black;
}

#chat-container strong{
	color: #cc6900;
}

td.chat-open {
	color: darkgreen;
}

td.chat-close{
	color: darkred;
}